@*@model Kviz_Aplikacija___IT_Proektna_2023.Models.Quiz

    @{
        ViewBag.Title = "Create";
    }

    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Quiz</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QuizName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuizName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuizName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@

@model Kviz_Aplikacija___IT_Proektna_2023.Models.EditAndCreateQuizVM

@{
    ViewBag.Title = "Create";
}

<div style="height: 30px"></div>

<div class="centralen-kontent">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h3>Creating a new quiz </h3>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Quiz.QuizID)*@

    <div class="form-group">
        @Html.LabelFor(model => model.Quiz.QuizName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Quiz.QuizName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quiz.QuizName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div style="height: 30px"></div>

    @for (int i = 0; i < 5; i++)
    {

        <div class="form-group">

            @*@Html.HiddenFor(model => model.Questions[i].QuestionID)*@

            @*@Html.HiddenFor(model => model.Questions[i].QuizID)*@

            @Html.LabelFor(model => model.Questions[i].QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Questions[i].QuestionText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Questions[i].QuestionText, "", new { @class = "text-danger" })
            </div>
        </div>
        int k = i * 3 + 3;
        for (int j = i * 3; j < k; j++)
        {
            <div>

                @*@Html.HiddenFor(model => model.Choices[j].ChoiceID)*@

                @*@Html.HiddenFor(model => model.Choices[j].QuestionID)*@ @*Name = "Choice[" + j + "]_" + i*@

                <span class="form-group">
                    @Html.LabelFor(model => model.Choices[j].ChoiceText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <span class="col-md-10">
                        @Html.TextBoxFor(model => model.Choices[j].ChoiceText, new { htmlAttributes = new { @class = "form-control", name = "Choice[" + j + "]_" + i } })
                        @Html.ValidationMessageFor(model => model.Choices[j].ChoiceText, "", new { @class = "text-danger" })
                    </span>
                </span>

                <span class="form-group">
                    @Html.LabelFor(model => model.Choices[j].isCorrect, htmlAttributes: new { @class = "control-label col-md-2", name = "Choice[" + j + "]_" + i })
                    <span class="col-md-10">
                        @Html.CheckBoxFor(model => model.Choices[j].isCorrect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Choices[j].isCorrect, "", new { @class = "text-danger" })
                    </span>
                </span>

            </div>
        }

        <div style="height: 30px"></div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>